.test {
  color: red;
}

.bg-card-container {
  background-color: white;
  text-align: center;
}

.bg {
  background-color: yellow;
  background-image: url("../../assets/image.avif");
  background-repeat: no-repeat;
  height: 100vh;
  width: 450px;
}

.bg-page-2 {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
  background-size: contain;
}